<div class="container">
  <!-- <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-1 col-1"></div>
    <div class="col-lg-8 col-md-10 col-sm-10 col-10"> -->
  <div class="card mt-2 mb-2">
    <div *ngIf="errMsg" class="alert alert-danger text-center">{{ errMsg }}</div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-1 "></div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-10">
        <form #addform="ngForm" action="/action_page.php" id="addform" novalidate>
          <p class="mt-2 fs " style="text-align: center;font-size:17px; font-family: Helvetica Neue;font-weight: bold">
            APPOINTMENT
          </p>
          <div class="form-group fe">
            <label style="font-weight: bold" for="tokenno">Token No</label>
            <input type="text" name="tokenno" #tokenno="ngModel" [(ngModel)]="addUserData.tokenno"
              [class.is-invalid]="tokenno.invalid && tokenno.touched" ngModel class="form-control" autocomplete="off"
              id="tokenno" placeholder="AA" required disabled/>
            <span class="text-danger float-left" [class.d-none]="tokenno.valid || tokenno.untouched"><i
                class="fa fa-info-circle" aria-hidden="true"></i> Token No is
              required</span>
          </div>
          <div class="form-group fe mt-4">
            <label style="font-weight: bold" for="date">Date</label>
            <input type="text" name="date" #date="ngModel" [(ngModel)]="addUserData.date" ngModel class="form-control"
              autocomplete="off" id="date" placeholder="Enter Date" required disabled />
            <span class="text-danger float-left" [class.d-none]="date.valid || date.untouched"><i
                class="fa fa-info-circle" aria-hidden="true"></i> Date is
              required</span>
          </div>
          <div class="form-group fe mt-4">
            <label style="font-weight: bold" for="time">Time</label>
            <input type="text" name="time" #time="ngModel" [(ngModel)]="addUserData.time"
              [class.is-invalid]="time.invalid && time.touched" ngModel class="form-control" autocomplete="off"
              id="time" placeholder="Enter time" required disabled />
            <span class="text-danger float-left" [class.d-none]="time.valid || time.untouched"><i
                class="fa fa-info-circle" aria-hidden="true"></i> Time is
              required</span>
          </div>
          <div class="form-group fe mt-4">
            <label style="font-weight: bold" for="name">Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="addUserData.name"
              [class.is-invalid]="name.invalid && name.touched" ngModel class="form-control" autocomplete="off"
              id="name" placeholder="Enter name" required />
            <span class="text-danger float-left" [class.d-none]="name.valid || name.untouched"><i
                class="fa fa-info-circle" aria-hidden="true"></i> Name is
              required</span>
          </div>
          <div class="form-group fe mt-4">
            <label style="font-weight: bold" for="phoneno">Contact No</label>
            <input type="text" name="phoneno" #phoneno="ngModel" [(ngModel)]="addUserData.phoneno"
              [class.is-invalid]="phoneno.invalid && phoneno.touched" ngModel class="form-control" autocomplete="off"
              id="phoneno" placeholder="Enter number" required />
            <span class="text-danger float-left" [class.d-none]="phoneno.valid || phoneno.untouched"><i
                class="fa fa-info-circle" aria-hidden="true"></i> Contact No
              is required</span>
          </div>
          <div class="form-group fe mt-4">
            <label style="font-weight: bold" for="location">Location</label>
            <input type="text" name="location" #location="ngModel" [(ngModel)]="addUserData.location" ngModel
              class="form-control" autocomplete="off" id="location" placeholder="Enter location" />
          </div>
          <div class="form-group fe mt-3">
            <label style="font-weight: bold" for="note">Note</label>
            <textarea class="form-control" name="note" #note="ngModel" [(ngModel)]="addUserData.note" ngModel
              class="form-control" autocomplete="off" id="note" placeholder="Enter note"></textarea>
          </div>
          <div class="text-center fe mb-2" *ngIf="!errMsg">
            <button type="submit" class="btn btn-primary" [disabled]="addform.form.invalid" (click)=" addUser()">
              Book</button>&nbsp;
            <button type="reset" class="btn btn-dark">Reset</button>
          </div>
        </form>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
    </div>
  </div>
  <!-- </div>
    <div class="col-lg-2 col-md-1 col-sm-1 col-1"></div>
  </div> -->
</div>
