<div style="background-color: #0F7799">
  <nav class="navbar  navbar-fixed-top navbar-dark ">
    <a class="navbar-brand" href="#">Appointment App</a>
    <ul class="nav navbar-nav ml-auto im ">
      <li class="nav-item ">
        <a class="nav-link" style="font-weight: bold;font-family: Allerta Stencil, Sans-serif; font-size: 16px;"
          [routerLink]="['/appointment']">Appointments&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>

    </ul>
    <button class="btn btn-outline-info navbar-toggler btmv" type="button" data-toggle="collapse"
      data-target="#navbarsExample01" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>



<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="80px" color="#4FDAB6" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Please Wait...</p>
</ngx-spinner>
