@media only screen and (max-width: 375px) and (min-width: 320px) {
    .si {
      font-size: 13px;
    }

    .hi {
      font-size: 15px;
    }

  }

  @media only screen and (max-width: 320px) {
  .iv {
    font-size: 12px;
  }
}

@media only screen and (min-width: 375px) {
  .ivm {
    font-size: 13px;
  }
}

 